.Input-container {
  margin: 10px;
  height: 70px;
}

.Input__label__text {
  color: #36475e;
  margin: 10px 0 8px;
  font-size: 13px;
  display: block;
}

.Input {
  border-style: none;
  border-bottom: 1px dotted #bbb;
  font-size: 14px;
  width: 100%;
  font-weight: 500;
  padding: 6px 0;
  transition: border .3s ease-out;
}

.Input:focus,
.Input:hover {
  border-bottom: 1px solid #3bc2b5;
  outline: none;
}

.Input:-webkit-autofill,
.Input:-webkit-autofill:hover, 
.Input:-webkit-autofill:focus, 
.Input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
